<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899149622870-evqvlfllf29p4j4sr4uo1pech61bld9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899149622870-evqvlfllf29p4j4sr4uo1pech61bld9u</string>
	<key>API_KEY</key>
	<string>AIzaSyAolUzb1UO1vycnMOdn6wJYWyoUgfyGKRE</string>
	<key>GCM_SENDER_ID</key>
	<string>899149622870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testeFirebase</string>
	<key>PROJECT_ID</key>
	<string>authtest-5021c</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-5021c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899149622870:ios:ade2cc41696a9bd9db15f7</string>
</dict>
</plist>